  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>ICS<span>.</span></h3>
              <p>
                <strong>Visit:</strong><a target="_blank" href="../../../../../../">www.icsin.top</a><br>
                <strong>Email:</strong><a href="mailto:icsin@qq.com">icsin@qq.com</a><br>
              </p>
              <div class="social-links mt-3">
                <a href="https://github.com/ICS-Industrialism-Coalition" class="twitter"><i class="fa-brands fa-github"></i></a>
                <a target="_blank" href="http://steamcommunity.com/groups/icsin" class="facebook"><i class="fa-brands fa-steam"></i></a>
                <a target="_blank" href="http://discord.gg/SqXzxBJvZR" class="instagram"><i class="fa-brands fa-discord "></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>索引</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="../../../../../../">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="../../../../../../msc">MSC</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="../../../../../../mc">Minecraft</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="../../../../../../sources">Sources</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="../../../../../../help">Help</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>支持</h4>
            <ul class="foot-ul">
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="../../../../../../gp-backup/">设计模板 Template</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="http://forum.icsin.top">论坛 ICS Forum</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="links">使用链接 Links</a></li>
              <li><i class="bx bx-chevron-right"></i> <a target="_blank" href="//waston101.github.io" title="强大的原生软件开发团队">InnerSon-Development</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright 2021-2025<strong><span> ICS I.N.</span></strong> All Rights Reserved
      </div>
      <div class="credits">
        Designed by <span>Nakagawa - Nagi</span>
      </div>
    </div>
  </footer>